*{
  font-family: "Space Grotesk", sans-serif;
  Font size: 18px;
}

#formulaire{
  display: none;
}

#achieve{
  

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin : auto;
  margin-top: 15%;
  margin-left: 20%;
  margin-right: 5%;

}

#achieve img{

  width: 80px;

}

#errorDate{
  color: red;
  font-size: 12px;
}
#errorCvc{
  color: red;
  font-size: 12px;
  width: 30px;
  
}

#errorNum{
  color: red;
  font-size: 12px;
}
#errorName{
  color: red;
  font-size: 12px;
}
p{
  Font size: 18px
}
body {
  margin: 0;
  Font size: 18px
  overflow: hidden;
}

.contenu {
  display: flex;
}

.input {
  display: grid;
  width: 400px;
  margin : auto;
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 5%;
}



.info input {
  width: 400px;
}

input {
  margin: 0;
  height: 40px;
  border-radius: 5px;
}
.date input {
  width: 60px;
}
button {
  margin-top: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 400px;
  height: 50px;
  background-color: hsl(278, 68%, 11%);
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.cvc {
  margin-left: 50px;
}
.cvc input {
  width: 205px;
}
.datecvc {
  display: flex;
}



.background img{
  width: 450px;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(20, 13, 13, 0.318);
}
.recto{
  position:absolute;
  padding-top: 100px;
  padding-left: 170px;
  box-shadow: 20px;
  z-index: 1;
}

.verso{
  position: absolute;
  padding-top:390px; 
  padding-left:250px ;
  z-index: 1;
}



.num-text{
  position: absolute;
  z-index: 2;
  margin-top: 100px;
  margin-left: 50px;
  color: white;
  font-size: 30px;
}
.name-text{
  position: absolute;
  z-index: 2;
  margin-top: 180px;
  margin-left: 50px;
  color: white;
  font-size: 18px;
}
.date-text{
  position: absolute;
  z-index: 2;
  margin-top: 195px;
  margin-left: 340px;
  color: white;
  font-size: 18px;
}




.cvc-text{
  position: absolute;
  z-index: 2;
  margin-top: 90px;
  margin-left: 360px;
  color: white;
  font-size: 18px;
}
.circle{
  margin-top: 30px;
  margin-left: 20px;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  z-index: 2;
  background-color: white;
}
.petit-circle{
  margin-top: 49px;
  margin-left: 106px;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  z-index: 2;
  background-color: rgba(36, 54, 157, 0);
  border: solid 1px white;
}
.background {
  position: relative;
  background-image: url(./bg-main-desktop.png);
  width: 480px;
  height: 100vh;
  
}

@media(max-width: 1175px){

  

    .input {
      display: grid;
      width: 375px;
      margin : auto;
      margin-top: 0%;
      margin-left: 20%;
      margin-right: 5%;
    }
    .recto{
      position:absolute;
      padding-top: 200px;
      padding-left: 20px;
      box-shadow: 20px;
      z-index: 1;
    }
    
    .verso{
      position: absolute;
      padding-top:50px; 
      padding-left:40px ;
      z-index: 1;
    }
    #achieve{
  

      
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 375px;
      margin : auto;
      margin-top: 15%;
      margin-right: 10%;
  
      
      
    
    }

    #achieve button {
      width: 350px;
    }
  

    @media(max-width: 945px){

      #achieve{
  

      
        
        margin-left: 0px;
    
        
        
      
      }

      .contenu {
        display: grid;
      }
      .background {
        position: relative;
        background-image: url(./bg-main-desktop.png);
        width: 375px;
        height: 300px;
      }

      .background img{
      width: 300px;
       border-radius: 20px;
       box-shadow: 10px 10px 20px rgba(20, 13, 13, 0.318);
        
      }
      .num-text{
        position: absolute;
        z-index: 2;
        margin-top: 70px;
        margin-left: 30px;
        color: white;
        font-size: 20px;
      }
      .name-text{
        position: absolute;
        z-index: 2;
        margin-top: 120px;
        margin-left: 30px;
        color: white;
        font-size: 12px;
      }
      .date-text{
        position: absolute;
        z-index: 2;
        margin-top: 130px;
        margin-left: 230px;
        color: white;
        font-size: 14px;
      }
      .cvc-text{
        position: absolute;
        z-index: 2;
        margin-top:60px;
        margin-left: 240px;
        color: #ffffff;
        font-size: 13px;
      }
      .circle{
        margin-top: 20px;
        margin-left: 20px;
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 30px;
        z-index: 2;
        background-color: white;
      }
      .petit-circle{
        margin-top: 33px;
        margin-left: 70px;
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 10px;
        z-index: 2;
        background-color: rgba(36, 54, 157, 0);
        border: solid 1px white;
      }
      .recto{
        position:absolute;
        padding-top: 150px;
        padding-left: 25px;
        box-shadow: 20px;
        z-index: 1;
      }
      
      .verso{
        position: absolute;
        padding-top:50px; 
        padding-left:46px ;
        z-index: 1;
      }
      .input {
        display: grid;
        width: 35px;
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 0;
      }
      
      
      .info input {
        width: 335px;
      }
      
  
      .date input {
        width: 70px;
      }
      button {
        margin-top: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        height: 50px;
        background-color: hsl(278, 68%, 11%);
        color: white;
        border-radius: 10px;
      }

      .cvc{
        margin-left:3px
      }
    
      .cvc input {
        width: 171px;
      }
      .datecvc {
        display: flex;
      }
    }